* {
	box-sizing: border-box;
  margin:0;
  padding:0;
}
.nav_wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 12px auto;
  position: relative;
}

.navbar_sitename{
  font-size: 30px;
  font-weight: 700;
  color: #448899;
}

.navbar__list{
  display: inline-flex;
  list-style: none;
}

.navbar__list a{
  font-size: 16px;
  color:#666666;
  font-weight: 400;
  margin-left: 20px;
  text-decoration: none;
}

.banner_wrap{
  background: #aaddee;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

 .banner {
	min-height: 320px;
	width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(welcome.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.banner_left{
  flex-direction: column;
}
.banner .banner_desc {
  color: white;
  margin-top: 15px;
}

.banner h1{
  font-size: 28px;
  font-weight: 700;
}

.banner h4{
  font-size: 16px;
  font-weight: 400;
}

.search_container{
  height: 46px;
  border-radius: 8px;
  background-color: #448899;
  position: relative;
  margin-top: 25px;
}

.input{
  width: 400px;
  height: 100%;
  display: block;
  border-radius: 5px;
  padding:15px;
  font-weight: 700;
  font-size: 16px;
  color: #757575;
  outline: none;
  border: none;
}

.button{
  position: absolute;
  right:0;
  top:0;
  width:60px;
  height: 100%;
  background-color: #448899;
  border-radius: 0 5px 5px 0;
  border: none;
  background-image: url(icon_search.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
} 

#content_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

#content{
  display: flex;
	margin: 24px auto;
	max-width: 1200px;
	flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attraction_card{
  width: 270px;
  height: 242px;
  border: 1px #E8E8E8 solid;
  border-radius: 5px;
  overflow: hidden;
  margin: 30px auto;
  cursor: pointer;
}


.attraction_card .thumbnails{
  width:100%;
  height:160px;
}

.attraction_title{
  height: 22px;
  font-size: 16px;
  color: #757575;
  font-weight: 700;
  margin: 10px;
}

.attraction_subinfo{
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin: 10px;
}

footer{
  height: 104px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color:#FFFFFF;
  background: #757575;
  padding: 45px;
}

@media (max-width: 1200px) {
  .nav_wrapper{
    width: 100%;
  }
  .banner_wrap{
    width:100%
  }
}
@media (max-width: 440px) {
  .input{
    width: 90%;
  }
}
@media (max-width: 360px) {
  .navbar{
    width:100%;
  }
  .banner{
    width: 100%;
  }
  .input{
    width:230px;
  }
  .banner{
    background-image: url(welcome.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 60%;
    justify-content: center;
    }
}