<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/attraction.css" />

  <title>台北一日遊</title>



</head>

<body>
  <div class="nav_wrap">
    <nav class="navbar">
      <a href="/" class="navbar_sitename">台北一日遊</a>
      <ul class="navbar__list">
        <li>
          <p id="booking_btn">預定行程</p>
        </li>
        <li>
          <p id="popup_btn">登入/註冊</p>
        </li>
        <li>
          <p id="logout_btn">登出系統</p>
        </li>
      </ul>
    </nav>
  </div>
  <div id="dialog">
    <div class="login_card">
      <div class="topbar"></div>
      <div class="login_title">
        <h2>登入會員帳號</h2>
        <div id="close_icon" class="close_icon"></div>
      </div>
      <form action='/api/user' class="input_area">
        <input id="login_email" class="input_field" type="email" name="login_email" placeholder="輸入電子信箱" />
        <input id="login_password" class="input_field" type="password" name="login_password" placeholder="輸入密碼" />
        <button class="input_field login_btn">登入帳戶</button>
      </form>
      <div class="login_status"></div>
      <p class="changeto_register">還沒有帳戶？<span class="go_register">點此註冊</span></p>
    </div>

    <div class="register_card">
      <div class="topbar"></div>
      <div class="register_title">
        <h2>註冊會員帳號</h2>
        <div id="close_icon" class="close_icon"></div>
      </div>
      <form action='/api/user' class="input_area">
        <input id="name" class="input_field" type="text" name="name" placeholder="輸入姓名" />
        <input id="email" class="input_field" type="email" name="email" placeholder="輸入電子信箱" />
        <input id="password" class="input_field" type="password" name="password" placeholder="輸入密碼" />
        <button class="input_field register_btn">註冊新帳戶</button>
      </form>
      <div class="register_status"></div>
      <p class="changeto_login">已經有帳戶？<span class="go_login">點此登入</span></p>
    </div>
  </div>
  <div class="content_wrap">
    <!-- <div id="content" class="content"> -->
    <!-- <div class="thumbnails">
        <img src='https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg'>
      </div>
      <div class="attraction_info">
        <div class="attraction_title">平安鐘</div>
        <div class="attraction_subinfo">
          <div class="attraction_category">公共藝術</div>
          <a> at </a>
          <div class="attraction_mrt">忠孝復興</div>
        </div>
        <div class="order">
          <div>
            <h4>訂購導覽行程</h4>
          </div>
          <div>
            <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
          </div>
          <div class="order_date">選擇日期：<input type="date"></div>
          <div class="order_time">選擇時間：
            <label><input class="radio" type="radio" name="time" value="morning" /><a>上半天</a></label>
            <label><input class="radio" type="radio" name="time" value="afternoon" /><a>下半天</a></label>
          </div>
          <div id="order_price" class="order_price">導覽費用：<a>新台幣 2000元</a></div>
          <button class="btn_order">開始預訂行程</button>
        </div>
      </div> -->
  </div>
  </div>
  <div class="hr"></div>
  <div id="desc_wrap" class="desc_wrap">
    <!-- <div class="attraction_desc"></div>
    <div class="attreaction_address">景點地址：
      <div class="api_address"></div>
    </div>
    <div class="attreaction_transportation">交通方式：
      <div class="api_transportation">
      </div>
    </div> -->
  </div>
  <footer class="footer">
    COPYRIGHT © 2021 台北一日遊
  </footer>

  <script type="text/javascript" src="/attraction.js"></script>
  <script type="text/javascript" src="/member.js"></script>
</body>


</html>