<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/normalize.css" />
  <link rel="stylesheet" href="/style.css" />
  <title>台北一日遊</title>
  <script type="text/javascript" src="/index.js" defer></script>
  <script type="text/javascript" src="/member.js" defer></script>
</head>

<body>
  <div class="nav_wrapper">
    <nav class="navbar">
      <a href="/" class="navbar_sitename">
         台北一日遊
      </a>
      <ul class="navbar__list">
        <li>
          <p id="booking_btn">預定行程</p>
        </li>
        <li>
          <p id="popup_btn">登入/註冊</p>
        </li>
        <li>
          <p id="logout_btn">登出系統</p>
        </li>
      </ul>
    </nav>
  </div>
  <div id="dialog">
    <div class="login_card">
      <div class="topbar"></div>
      <div class="login_title">
        <h2>登入會員帳號</h2>
        <div id="close_icon" class="close_icon"></div>
      </div>
      <form action='/api/user' class="input_area">
        <input id="login_email" class="input_field" type="email" name="login_email" placeholder="輸入電子信箱" />
        <input id="login_password" class="input_field" type="password" name="login_password" placeholder="輸入密碼" />
        <button class="input_field login_btn">登入帳戶</button>
      </form>
      <div class="login_status"></div>
      <p class="changeto_register">還沒有帳戶？<span class="go_register">點此註冊</span></p>
    </div>

    <div class="register_card">
      <div class="topbar"></div>
      <div class="register_title">
        <h2>註冊會員帳號</h2>
        <div id="close_icon" class="close_icon"></div>
      </div>
      <form action='/api/user' class="input_area">
        <input id="name" class="input_field" type="text" name="name" placeholder="輸入姓名" />
        <input id="email" class="input_field" type="email" name="email" placeholder="輸入電子信箱" />
        <input id="password" class="input_field" type="password" name="password" placeholder="輸入密碼" />
        <button class="input_field register_btn">註冊新帳戶</button>
      </form>
      <div class="register_status"></div>
      <p class="changeto_login">已經有帳戶？<span class="go_login">點此登入</span></p>
    </div>
  </div>
  <div class="banner_wrap">
    <div class="banner">
      <div class="banner_left">
        <div class="banner_desc">
          <h1>輕鬆享受台北一日悠閒</h1>
          <h4>探索每個角落，體驗城市的深度旅遊行程</h4>
        </div>
        <div class="search_container">
          <input type="text" name="search_field" class="input" placeholder="輸入景點名稱查詢">
          <button type="submit" class="button"></button>
        </div>
      </div>
      <div class="banner_right"></div>
    </div>
  </div>
  <div id="content_wrap">
    <div id="content"></div>
  </div>
  <footer>
    COPYRIGHT © 2021 台北一日遊
  </footer>
</body>


</html>