<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="style.css" />
  <title>台北一日遊</title>
  <script type="text/javascript" src="index.js" defer></script>
</head>

<body>
  <nav class="navbar">
    <div class="wrapper">
      <div class="navbar_sitename">
         台北一日遊
      </div>
      <ul class="navbar__list">
        <li><a href="#">預定行程</a></li>
        <li><a href="#">登入/註冊</a></li>
      </ul>
    </div>
  </nav>
  <div class="banner">
    <div class="wrapper">
      <div class="banner_left">
        <div class="banner_desc">
          <h1>輕鬆享受台北一日悠閒</h1>
          <h4>探索每個角落，體驗城市的深度旅遊行程</h4>
        </div>
        <div class="search_container">
          <input type="text" name="search_field" class="input" placeholder="輸入景點名稱查詢">
          <button type="submit" class="button"></button>
        </div>
      </div>
      <div class="banner_right"></div>
    </div>
  </div>
  <div id="content"></div>
  <footer>
    COPYRIGHT © 2021 台北一日遊
  </footer>
</body>


</html>